.divi{
    display: grid;
    grid-template-columns: auto auto auto;
     background-color: black;
}
img{
    border: 2px solid black;
    border-radius: 50%;
    margin-left: 200px;
}
.head{
   
    color: antiquewhite;
   margin-left: 300px;
    padding: 20px;
    font-size: 25px;
    font-style: italic;
     text-align: center;
}

.list{
display: grid;
grid-template-columns: auto auto auto auto;
 margin-top: 40px;
 background-color: white;
 border: 5px solid black;
 border-radius: 50px;
 margin-bottom: 50px;
 
}
.list ul{
 padding: 20px;
}
.list ul li{
list-style-type: none;
font-size: 25px;
padding: 20px;

}
.list ul li a{
    text-decoration: none;
    color: black;
    font-size: 40px;
   
}
.list ul li a:hover{
    color: skyblue;
}

.divi2{
    background-image: url("image/img\ \(1\).jpg") ; 
    height: 750px;
   
}
.main{

     width: 500px;
     background-color: teal
     ;
    color: white;
     margin: 5px auto;
     text-align: center;
     padding: 15px;
     box-shadow: 15px 15px 15px black;
}
.main:hover{
    background-color:cornflowerblue
    ;
    color: aliceblue;
     box-shadow: 15px 15px 15px black;
}
.divi3{
   text-align: center;
}
.divi3 input{
      margin-top: 20px;
      font-size: 20px;
      width: 600px;
      border: 5px solid orangered;
      border-radius: 50px;
      padding: 15px;
      background-color: transparent;
      color: azure;
      height: 50px;
}
::placeholder{
    color: aliceblue;
    text-align: center;
}
.divi4{
    display: grid;
    grid-template-columns: 500px 500px 500px;
    justify-content: center;
    /* margin: 100px; */
}
.education{
    background-color: black;
    color:white ;
    width: 300px;
    padding: 20px;
    
    box-shadow: 10px 10px 15px skyblue;
  margin: 100px;
    text-align: center;
}
/* .education:hover{
    background-color: teal;
    color:white ;
    width: 300px;
    padding: 20px;
    
    box-shadow: 10px 10px 15px wheat ;
  margin: 100px;
    text-align: center;
} */

.divi5{
    background-color:black;
    font-size: 30px;
    margin-top: 5px;
    height: 400px;
    text-align: center;
    padding: 30px;
}
 #anchor{
             color: aliceblue;
             text-decoration: none;
             background-color: teal;
             padding: 20px;
               box-shadow: 5px 5px 10px white;
             
}
#anchor:hover{
    box-shadow: 10px 10px 10px tan;
}
.foot{
  
}
.foot ul{
display: grid;
grid-template-columns: 300px 300px 300px 300px;
  justify-content: center;
}
.foot ul li{
margin-top: 90px;

} 
.foot ul li a{
color: azure;
text-decoration: none;
background-color: coral;
    box-shadow: 10px 10px 10px blueviolet;
    padding: 20px;
    border:2px solid black;
    border-radius:50px 0px;
}
.foot ul li a:hover{
    background-color:brown;
    box-shadow: 10px 10px 10px blueviolet;
    padding: 20px;
    border:2px solid black;
    border-radius:50px 0px;
}

 